@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure full-height background */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #e0f2ff; /* Light blue background */
}

/* Prevent white gaps around main content */
main {
  min-height: 100vh;
  background-color: #e0f2ff;
}

a {
  text-decoration: none !important;
}
