html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
background-image: url('/DiverseKids.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

.page-container {
  background: rgba(255, 255, 255, 0.85);
  padding: 2rem;
  border-radius: 12px;
  max-width: 900px;
  margin: 3rem auto;
}


